[project]
	description = Statistics for pipedrive deals based on activities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Martin Treusch von Buttlar (martint17r)
[access "refs/for/refs/*"]
	read = group user/Martin Treusch von Buttlar (martint17r)
	push = group user/Martin Treusch von Buttlar (martint17r)
	label-Code-Review = -2..+2 group user/Martin Treusch von Buttlar (martint17r)
	label-Verified = -1..+1 group user/Martin Treusch von Buttlar (martint17r)
	rebase = group user/Martin Treusch von Buttlar (martint17r)
	removeReviewer = group user/Martin Treusch von Buttlar (martint17r)
	submit = group user/Martin Treusch von Buttlar (martint17r)
[access "refs/heads/*"]
	read = group user/Martin Treusch von Buttlar (martint17r)
	create = group user/Martin Treusch von Buttlar (martint17r)
	push = +force group user/Martin Treusch von Buttlar (martint17r)
	pushMerge = group user/Martin Treusch von Buttlar (martint17r)
[access "refs/tags/*"]
	push = group user/Martin Treusch von Buttlar (martint17r)
	push = +force group user/Martin Treusch von Buttlar (martint17r)
